<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
            rel="stylesheet"
    >
    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="header-wrap">
          <div class="logo">
            <i class="icon-logo"></i>
          </div>
          <div class="btns">
            <div class="btn-mypage">
              <i class="icon-mypage"></i>
            </div>
            <button class="btn-login">로그인</button>
          </div>
        </div>
      </header>
      <div class="content-body">
        <div class="content-title">
          <i class="icon-title-application"></i>
          <h1>비자연장 신청</h1>
        </div>

        <div class="passport-photo">
          <div class="img-wrap">
            <img src="/css/images/passport-photo.png" alt="탕웨이루-여권사진">
          </div>
        </div>

        <div class="table-wrapper">
          <div class="table-wrapper-title">학생기본정보</div>

          <div class="detail-table-wrap step">
            <table>
              <colgroup>
                <col style="width: 16%">
                <col style="width: 84%">
              </colgroup>
              <tbody>
                <tr>
                  <td>소속</td>
                  <td>대전대학교</td>
                </tr>
                <tr>
                  <td>과정</td>
                  <td>어학센터 D1</td>
                </tr>
                <tr>
                  <td>이름</td>
                  <td><b>탕웨이 루</b> / <b>Tang wei ru</b></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="detail-table-wrap step">
            <table>
              <colgroup>
                <col style="width: 16%">
                <col style="width: 84%">
              </colgroup>
              <tbody>
                <tr>
                  <td>외국인등록번호</td>
                  <td>12345-1234567</td>
                </tr>
                <tr>
                  <td>여권번호</td>
                  <td>ABC123456</td>
                </tr>
                <tr>
                  <td>분류</td>
                  <td>D2</td>
                </tr>
                <tr>
                  <td>발급일</td>
                  <td>2020-01-01</td>
                </tr>
                <tr>
                  <td>만료일</td>
                  <td>2023-12-20</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="detail-table-wrap step">
            <table>
              <colgroup>
                <col style="width: 16%">
                <col style="width: 84%">
              </colgroup>
              <tbody>
                <tr>
                  <td>주소정보</td>
                  <td>대전광역시 동구 대학로 62</td>
                </tr>
                <tr>
                  <td>연락처</td>
                  <td>010-1234-1234</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="application-step">
          <div><span>1</span> / <span>3</span></div>
        </div>

        <div class="submit-btn-wrap">
          <div class="btn-wrapper">
            <button class="btn-submit grey">뒤로</button>
          </div>
          <div class="btn-wrapper">
            <button class="btn-submit">다음</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
