<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="header-wrap">
          <div class="logo">
            <i class="icon-logo"></i>
          </div>
          <div class="btns">
            <div class="btn-mypage">
              <i class="icon-mypage"></i>
            </div>
            <button class="btn-login">로그인</button>
          </div>
        </div>
      </header>
      <div class="content-body">
        <div class="content-title">
          <i class="icon-title-application"></i>
          <h1>비자연장</h1>
        </div>

        <div class="detail-table-wrap">
          <table>
            <colgroup>
              <col style="width: 16%">
              <col style="width: 28%">
              <col style="width: 28%">
              <col style="width: 28%">
            </colgroup>
            <thead>
              <tr>
                <th>순번</th>
                <th>신청일</th>
                <th>처리일</th>
                <th>만료기간</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2023-01-01</td>
                <td>2023-01-07</td>
                <td class="blue">2023-06-30</td>
              </tr>
              <tr>
                <td>2</td>
                <td>2023-01-01</td>
                <td>2023-01-07</td>
                <td class="red">2023-06-30</td>
              </tr>
              <tr>
                <td>3</td>
                <td>2023-01-01</td>
                <td>2023-01-07</td>
                <td class="red">2023-06-30</td>
              </tr>
            </tbody>
          </table>
        </div>

        <button class="btn-submit green">연장신청</button>
      </div>
    </div>
  </body>
</html>
