<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
            rel="stylesheet"
    >
    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="header-wrap">
          <div class="logo">
            <i class="icon-logo"></i>
          </div>
          <div class="btns">
            <div class="btn-mypage">
              <i class="icon-mypage"></i>
            </div>
            <button class="btn-login">로그인</button>
          </div>
        </div>
      </header>
      <div class="content-body">
        <div class="content-title">
          <i class="icon-title-application"></i>
          <h1>신청서 관리</h1>
        </div>

        <div class="application-menu-list">
          <div class="menu">
            <div class="icon-visa"></div>
            <span>비자연장</span>
          </div>
          <div class="menu">
            <div class="icon-scholarship"></div>
            <span>장학금</span>
          </div>
          <div class="menu">
            <div class="icon-domitory"></div>
            <span>기숙사</span>
          </div>
          <div class="menu">
            <div class="icon-activity"></div>
            <span>체류외활동</span>
          </div>
          <div class="menu">
            <div class="icon-none"></div>
            <span>메뉴1</span>
          </div>
          <div class="menu">
            <div class="icon-none"></div>
            <span>메뉴2</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
