<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="header-wrap">
          <div class="logo">
            <i class="icon-logo"></i>
          </div>
          <div class="btns">
            <div class="btn-mypage">
              <i class="icon-mypage"></i>
            </div>
            <button class="btn-login">로그인</button>
          </div>
        </div>
      </header>
      <div class="content-body">
        <div class="content-title">
          <i class="icon-title-application"></i>
          <h1>비자연장 신청</h1>
        </div>

        <div class="file-upload-wrapper">
          <div class="title">서류첨부</div>

          <div class="info-box">
            <i class="icon_info"></i>
            <div class="ex">2M 이하 PDF 파일만 가능합니다.</div>
          </div>

          <div class="upload-wrap">
            <div class="lavel">여권(사본)</div>
            <div class="uploads-bar">
              <div class="file-name"><p>choose file...</p></div>
              <button class="btn-upload">파일찾기</button>
            </div>
          </div>

          <div class="upload-wrap">
            <div class="lavel">재학증명서</div>
            <div class="uploads-bar">
              <div class="file-name">
                <p>choose file 긴 이름 긴 이름긴 이름긴 이름긴 이름긴 이름</p>
              </div>
              <button class="btn-upload">파일찾기</button>
            </div>
          </div>

          <div class="upload-wrap">
            <div class="lavel">외국인등록증</div>
            <div class="uploads-bar">
              <div class="file-name"><p>choose file...</p></div>
              <button class="btn-upload">파일찾기</button>
            </div>
          </div>

          <div class="upload-wrap">
            <div class="lavel">성적증명서</div>
            <div class="uploads-bar">
              <div class="file-name"><p>choose file...</p></div>
              <button class="btn-upload">파일찾기</button>
            </div>
          </div>

          <div class="upload-wrap">
            <div class="lavel">잔고증명서</div>
            <div class="uploads-bar">
              <div class="file-name"><p>choose file...</p></div>
              <button class="btn-upload">파일찾기</button>
            </div>
          </div>
        </div>

        <div class="application-step">
          <div><span>2</span> / <span>3</span></div>
        </div>

        <div class="submit-btn-wrap">
          <div class="btn-wrapper">
            <button class="btn-submit grey">뒤로</button>
          </div>
          <div class="btn-wrapper">
            <button class="btn-submit">다음</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
