<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="header-wrap">
          <div class="logo">
            <i class="icon-logo"></i>
          </div>
          <div class="btns">
            <div class="btn-mypage">
              <i class="icon-mypage"></i>
            </div>
            <button class="btn-login">로그인</button>
          </div>
        </div>
      </header>
      <div class="content-body">
        <div class="content-title">
          <i class="icon-title-mydata"></i>
          <h1>개인자료실</h1>
        </div>

        <div class="sumnail-wrap">
          <div class="sum-item">
            <div class="sumnail-img">
              <div class="img-wrap">
                <img src="/css/images/passport-photo.png" alt="여권사진">
              </div>
            </div>
            <div class="sub-title">여권사진</div>
            <div class="date">2023.05.30</div>
          </div>
          <div class="sum-item">
            <div class="sumnail-img">
              <div class="img-wrap">
                <img
                  src="/css/images/no-picture.png"
                  alt="자료가 등록되지 않았습니다."
                />
              </div>
            </div>
            <div class="sub-title">재학증명서</div>
            <div class="date">등록하기</div>
          </div>
          <div class="sum-item">
            <div class="sumnail-img">
              <div class="img-wrap">
                <img
                  src="/css/images/no-picture.png"
                  alt="자료가 등록되지 않았습니다."
                />
              </div>
            </div>
            <div class="sub-title">비자사본</div>
            <div class="date">등록하기</div>
          </div>
          <div class="sum-item">
            <div class="sumnail-img">
              <div class="img-wrap">
                <img
                  src="/css/images/no-picture.png"
                  alt="자료가 등록되지 않았습니다."
                />
              </div>
            </div>
            <div class="sub-title">외국인등록증</div>
            <div class="date">등록하기</div>
          </div>
          <div class="sum-item">
            <div class="sumnail-img">
              <div class="img-wrap">
                <img
                  src="/css/images/no-picture.png"
                  alt="자료가 등록되지 않았습니다."
                />
              </div>
            </div>
            <div class="sub-title">비자사본</div>
            <div class="date">등록하기</div>
          </div>
          <div class="sum-item">
            <div class="sumnail-img">
              <div class="img-wrap">
                <img
                  src="/css/images/no-picture.png"
                  alt="자료가 등록되지 않았습니다."
                />
              </div>
            </div>
            <div class="sub-title">재학증명서</div>
            <div class="date">등록하기</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
