<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
            rel="stylesheet"
    >
    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="header-wrap">
          <div class="logo">
            <i class="icon-logo"></i>
          </div>
          <div class="btns">
            <div class="btn-mypage">
              <i class="icon-mypage"></i>
            </div>
            <button class="btn-login">로그인</button>
          </div>
        </div>
      </header>
      <div class="content-body" style="padding-bottom: 0">
        <div class="content-title">
          <i class="icon-title-mydata"></i>
          <h1>개인자료실</h1>
        </div>

        <div class="data-view">
          <div class="img-wrap">
            <img src="/css/images/passport-photo_sm.png" alt="여권사진">
          </div>
        </div>
      </div>
    </div>

    <div class="submit-box">
      <div class="title-wrap">
        <div class="small-sumnail">
          <img src="/css/images/passport-photo.png" alt="여권사진">
        </div>
        <div class="title">여권사진</div>
      </div>
      <div class="submit-btn-wrapper">
        <ul>
          <li>학교로 전송하기<i class="icon-school-submit"></i></li>
          <li>상담신청 운영 프로그램 안내<i class="icon-guide"></i></li>
        </ul>
      </div>
    </div>
  </body>
</html>
