<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
            rel="stylesheet"
    >
    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="header-wrap">
          <div class="logo">
            <i class="icon-logo"></i>
          </div>
          <div class="btns">
            <div class="btn-mypage">
              <i class="icon-mypage"></i>
            </div>
            <button class="btn-login">로그인</button>
          </div>
        </div>
      </header>
      <div class="content-body">
        <div class="content-title">
          <i class="icon-title-personal-info"></i>
          <h1>개인정보관리</h1>
        </div>

        <div class="title-bar">
          <span class="tag">어학센터</span>
          <span class="name"><b>탕웨이 루</b> / <b>Tang wei ru</b></span>
          <button class="btn-edit btn-sty-line">수정</button>
        </div>

        <div class="passport-photo">
          <div class="img-wrap">
            <img src="/css/images/passport-photo.png" alt="탕웨이루-여권사진">
          </div>
        </div>
        <div class="personal-info-table">
          <table>
            <colgroup>
              <col style="width: 26%" />
              <col style="width: 74%" />
            </colgroup>
            <tr>
              <td><span>주소</span></td>
              <td>
                <div class="input-wrap">
                  <label>
                    <input
                      type="text"
                      value="대전광역시 동구 대학로 62 기숙사"
                    />
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td><span>연락처</span></td>
              <td>
                <div class="input-wrap">
                  <label>
                    <input type="text" value="010-1234-1234">
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td><span>이메일</span></td>
              <td>
                <div class="input-wrap">
                  <label>
                    <input type="text" value="wearefuture@gmail.com">
                  </label>
                </div>
              </td>
            </tr>
          </table>

          <div class="guardian-information">
            <span>보호자 정보</span>
            <i class="icon-check"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
