<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
            rel="stylesheet"
    >
    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="header-wrap">
          <div class="logo">
            <i class="icon-logo"></i>
          </div>
          <div class="btns">
            <div class="btn-mypage">
              <i class="icon-mypage"></i>
            </div>
            <button class="btn-login">로그인</button>
          </div>
        </div>
      </header>
      <div class="content-body">
        <div class="content-title">
          <i class="icon-title-supply"></i>
          <h1>지원프로그램</h1>
        </div>

        <div class="supply-detail">
          <div class="title-box">
            <p><span>제목: </span>심리상담 프로그램 신청 안내</p>
            <p><b>기간: </b>2023년 7월1일 ~ 2023년 12월 31</p>
          </div>
          <div class="text-box">
            <p>▶ 개인상담 : 심리적 어려움이나 고통, 대인관계의 어려움을 해소</p>
            <p>
              ▶ (예비) 부부·가족상담 : 서로에 대한 이해와 감정을 나누고 의견
              타협 및 조율 할 수 있도록 도움
            </p>
            <p>
              ▶ 아동 · 청소년 상담 : 자신의 문제를 표현하기 어려운
              아동·청소년에게 도구를 활용하여 문제를 찾고 해결
            </p>
            <p>
              ▶ 노인상담 : 어르신들이 실생활에서 겪을 수 있는 다양한 고민과
              문제를 욕구에 맞추어 상담진행
            </p>
            <p>
              ▶ 집단상담 : 학교 및 기관의 필요에 의한 맞춤형 상담 프로그램 진행
            </p>
            <br>
            <p>
              상담은 면접상담과 심리검사 실시 후 상담전 문가 선생님과 1회 50분씩
              진행합니다. 심리검사를 통한 정확한 진단을 통해 문제를 파악하고
              상담계획을 세우게 됩니다.
            </p>
          </div>
          <div class="submit-btn-wrap">
            <button class="btn-submit green">신청하기</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
