<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="header-wrap">
          <div class="logo">
            <i class="icon-logo"></i>
          </div>
          <div class="btns">
            <div class="btn-mypage">
              <i class="icon-mypage"></i>
            </div>
            <button class="btn-login">로그인</button>
          </div>
        </div>
      </header>
      <div class="content-body">
        <div class="content-title">
          <i class="icon-title-video"></i>
          <h1>교육동영상</h1>
        </div>
        <div class="search-bar">
          <div class="input-wrap">
            <i class="icon-search"></i>
            <input type="text" placeholder="교육명을 입력하세요.">
          </div>
        </div>
        <div class="video-list-text">
          <div class="list-item">
            <span>성폭력 예방교육</span>
            <i class="icon-arrow"></i>
          </div>
          <div class="list-item">
            <span>한국법령이행 교육</span>
            <i class="icon-arrow"></i>
          </div>
          <div class="list-item">
            <span>조기적응프로그램</span>
            <i class="icon-arrow"></i>
          </div>
          <div class="list-item">
            <span>진로/취업 교육</span>
            <i class="icon-arrow"></i>
          </div>
        </div>
        <div class="video-list-sum">
          <div class="list-item">
            <div class="sumnail">
              <div class="img-wrap">
                <img
                  src="https://img.youtube.com/vi/HJU2606zw8M/mqdefault.jpg"
                  alt="유튜브 섬네일 이미지 가져오기"
                >
              </div>
            </div>
            <div class="list-item-container">
              <div class="tag">성폭력 예방교육</div>
              <div class="title">성폭력에 대한 전반적인 이해와 사례</div>
              <div class="sub-text">대표적인 사례를 통한 교육과 예방</div>
              <div class="btns">
                <button class="more">more</button>
                <span class="time">59 min</span>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="sumnail">
              <div class="img-wrap">
                <img
                  src="https://img.youtube.com/vi/HJU2606zw8M/mqdefault.jpg"
                  alt="유튜브 섬네일 이미지 가져오기"
                >
              </div>
            </div>
            <div class="list-item-container">
              <div class="tag">성폭력 예방교육</div>
              <div class="title">성폭력에 대한 전반적인 이해와 사례</div>
              <div class="sub-text">대표적인 사례를 통한 교육과 예방</div>
              <div class="btns">
                <button class="more">more</button>
                <span class="time">59 min</span>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="sumnail">
              <div class="img-wrap">
                <img
                  src="https://img.youtube.com/vi/HJU2606zw8M/mqdefault.jpg"
                  alt="유튜브 섬네일 이미지 가져오기"
                >
              </div>
            </div>
            <div class="list-item-container">
              <div class="tag">성폭력 예방교육</div>
              <div class="title">성폭력에 대한 전반적인 이해와 사례</div>
              <div class="sub-text">대표적인 사례를 통한 교육과 예방</div>
              <div class="btns">
                <button class="more">more</button>
                <span class="time">59 min</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
