<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
            rel="stylesheet"
    >
    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="header-wrap">
          <div class="logo">
            <i class="icon-logo"></i>
          </div>
          <div class="btns">
            <div class="btn-mypage">
              <i class="icon-mypage"></i>
            </div>
            <button class="btn-login">로그인</button>
          </div>
        </div>
      </header>
      <div class="content-body">
        <div class="content-title">
          <i class="icon-title-video"></i>
          <h1>교육동영상</h1>
        </div>

        <div class="video-play">
          <div class="iframe-wrap">
            <iframe
              src="https://www.youtube.com/embed/uZeJoCY8wNo?si=ejTloD1H35ZeAlwL"
              title="YouTube video player"
              style="border: 0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="video-explain">
          <div class="title">성폭력에 대한 전반적인 이해와 사례</div>
          <div class="sub-text">
            대표적인 사례를 통한 교육과 예방 대표적인 사례를 통한 교육과
            예방대표적인 사례를 통한 교육과 예방대표적인 사례를 통한 교육과
            예방대표적인 사례를 통한 교육과 예방대표적인 사례를 통한 교육과 예방
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
