<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="application">


    <insert id="submitApplication" parameterType="applicationVo">
        <!--application.submitApplication-->

        INSERT INTO
            app_application (
                type,
                student_idx,
                title,
                content,
                reg_dt,
                mod_dt
            )
        VALUES (
            #{applicationType},
            #{studentIdx},
            #{applicationTitle},
            #{applicationContent},
            now(),
            now()
        )
    </insert>


    <select id="getApplicationDetailList" parameterType="applicationVo" resultType="applicationVo">

        SELECT
            idx as applicationIdx,
            type as applicationType,
            student_idx as studentIdx,
            title as applicationTitle,
            content as applicationContent,
            reg_dt as applicationRegDt,
            mod_dt as applicationModDt
        FROM
            app_application
        WHERE
            flag != 'deleted'
        AND
            type = #{applicationType}
        AND
            student_idx = #{studentIdx}
        <if test="applicationIdx != null and applicationIdx != 0">
            AND
                idx = #{applicationIdx}
        </if>

    </select>



    <update id="modifyApplication" parameterType="applicationVo">
        <!--application.modifyApplication-->

        UPDATE
            app_application
        SET
            title = #{applicationTitle},
            content = #{applicationContent},
            mod_dt = now()
        WHERE
            idx = #{applicationIdx}
        AND
            type = #{applicationType}
        AND
            student_idx = #{studentIdx}
        AND
            flag != 'deleted'
    </update>

</mapper>