<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="class">


    <select id="getEvaluateClassList" parameterType="classVo" resultType="classVo">
        <!-- class.getEvaluateClassList -->

        SELECT
            a.idx as classIdx,
            a.title as classTitle,
            a.year as classYear,
            a.semester as classSemester,
            a.capacity as classCapacity,
            (SELECT COUNT(*) FROM class_evaluate WHERE class_idx = a.idx AND student_idx = #{studentIdx}) as isEvaluatedClass
        FROM
            class a
        WHERE
            1=1
        <if test="classIdx != null and classIdx != 0">
            AND
                a.idx = #{classIdx}
        </if>
        <if test="standardYear != null and standardSemester != null and standardYear != 0 and standardSemester != 0 ">
            AND
                a.year = #{standardYear}
            AND
                a.semester = #{standardSemester}
        </if>

    </select>


    <insert id="doEvaluateClass" parameterType="classVo">
        INSERT INTO
            class_evaluate (
                class_idx,
                student_idx,
                content,
                reg_dt,
                mod_dt
            )
        VALUES (
            #{classIdx},
            #{studentIdx},
            #{evaluateContent},
            now(),
            now()
        )
    </insert>


    <select id="isExistEvaluateClass" parameterType="classVo" resultType="int">

        SELECT
            COUNT(*)
        FROM
            class_evaluate
        WHERE
            class_idx = #{classIdx}
        AND
            student_idx = #{studentIdx}

    </select>





</mapper>