<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myInfo">


    <select id="getInfoForPassport" parameterType="myInfoVo" resultType="myInfoVo">
        <!--myInfo.getInfoForPassport-->

        SELECT
            b.uuid as passportFileUuid,
            b.ext as passportFileExt,
            b.orig_name as passportFileOrigName,
            b.year as passportFileYear,
            b.month as passportFileMonth,
            b.day as passportFileDay
        FROM
            student a
        LEFT JOIN
            files b
        ON
            a.passport_file_idx = b.idx
        WHERE
            a.student_id = #{studentId}
        AND
            a.idx = #{studentIdx}

    </select>


    <select id="getInfoForProfile" parameterType="myInfoVo" resultType="myInfoVo">
        <!--myInfo.getInfoForProfile-->

        SELECT
            b.uuid as personalInfoFileUuid,
            b.ext as personalInfoFileExt,
            b.orig_name as personalInfoFileOrigName,
            b.year as personalInfoFileYear,
            b.month as personalInfoFileMonth,
            b.day as personalInfoFileDay
        FROM
            student a
        LEFT JOIN
            files b
        ON
            a.personal_info_file_idx = b.idx
        WHERE
            a.student_id = #{studentId}
        AND
            a.idx = #{studentIdx}

    </select>


    <select id="getInfoForForeigner" parameterType="myInfoVo" resultType="myInfoVo">
        <!--myInfo.getInfoForForeigner-->

        SELECT
            b.uuid as foreignerRegistrationFileUuid,
            b.ext as foreignerRegistrationFileExt,
            b.orig_name as foreignerRegistrationFileOrigName,
            b.year as foreignerRegistrationFileYear,
            b.month as foreignerRegistrationFileMonth,
            b.day as foreignerRegistrationFileDay
        FROM
            student a
        LEFT JOIN
            files b
        ON
            a.foreigner_registration_file_idx = b.idx
        WHERE
            a.student_id = #{studentId}
        AND
            a.idx = #{studentIdx}

    </select>


    <update id="submitPassportFile" parameterType="myInfoVo" >
        <!-- myInfo.submitPassportFile -->
        UPDATE
            student
        SET
            passport_file_idx = #{passportFileIdx}
        WHERE
            idx = #{studentIdx}
        AND
            student_id = #{studentId}

    </update>





    <update id="submitProfilePhotoFile" parameterType="myInfoVo" >
        <!-- myInfo.submitProfilePhotoFile -->
        UPDATE
            student
        SET
            personal_info_file_idx = #{personalInfoFileIdx}
        WHERE
            idx = #{studentIdx}
        AND
            student_id = #{studentId}

    </update>


</mapper>