<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="headerFragment" class="header navbar-fixed-top">

        <header class="header">
            <div class="header-wrap">
                <div class="logo" id="logo">
                    <i class="icon-logo"></i>
                </div>
                <div class="btns">
                    <div class="btn-mypage">
                        <i class="icon-mypage"></i>
                    </div>
                    <button class="btn-login">로그인</button>
                </div>
            </div>
        </header>

        <script>

            document.addEventListener('DOMContentLoaded', function() {

                document.getElementById('logo').addEventListener('click', function() {
                    window.location.href = '/app/main';
                });

            });


        </script>

    </div>

</html>