<!DOCTYPE html>
<layout:html lang="ko"
             xmlns:th="http://www.thymeleaf.org"
             xmlns:layout="http://www.w3.org/1999/xhtml">


    <div th:fragment="headerFragment" class="header navbar-fixed-top">

        <header class="header">
            <div class="header-wrap">
                <span id="headerBackBtn" style="cursor:pointer">←</span>
                <div class="logo" id="logo" style="cursor:pointer">
                    <i class="icon-logo"></i>
                </div>
                <div class="btns">
                    <div th:if="${studentId != null and studentIdx != null and studentEmail != null}" class="btn-mypage" id="myInfo">
                        <i class="icon-mypage"></i>
                    </div>

                    <button th:if="${studentId == null and studentIdx == null and studentEmail == null}" class="btn-login"  id="loginBtn">로그인</button>
                    <button th:if="${studentId != null and studentIdx != null and studentEmail != null}" class="btn-login"  id="logoutBtn">로그아웃</button>

                    <!--<button class="btn-login" th:if="${studentId != null} and ${studentIdx != null} and ${studentEmail != null}" id="logoutBtn">로그아웃</button>-->
                </div>
            </div>

            <script th:inline="javascript">

                document.addEventListener('DOMContentLoaded', function() {

                    const logoBtn = document.getElementById('logo');
                    if (logoBtn) {
                        logoBtn.addEventListener('click', function() {
                            window.location.href = '/app/main';
                        });
                    }

                    const headerBackBtn = document.getElementById('headerBackBtn');
                    if (headerBackBtn) {
                        headerBackBtn.addEventListener('click', function() {
                            window.history.back();
                        });
                    }

                    const loginBtn = document.getElementById('loginBtn');
                    if (loginBtn) {
                        loginBtn.addEventListener('click', function() {
                            location.href = "/app/login";
                        });
                    }


                    const logoutBtn = document.getElementById('logoutBtn');
                    if (logoutBtn) {
                        logoutBtn.addEventListener('click', function() {

                            if(!confirm("로그아웃 하시겠습니까?")) {
                                return;
                            }

                            axios.post('/appRest/doLogout', null, null).then(res => {

                                if(res.data.result === "success") {
                                    alert("로그아웃 되었습니다.");
                                    location.href = "/app/main";
                                }

                            });

                            //location.href = "/app/login";
                        });
                    }



                    const myInfoBtn = document.getElementById('myInfo');
                    if (myInfoBtn) {
                        myInfoBtn.addEventListener('click', function() {

                            location.href = "/app/myData";

                        });
                    }

                    /*document.getElementById('loginBtn').addEventListener('click', function() {
                        //window.history.back();
                        location.href = "/app/login";
                    });

                    $("#loginBtn").click(function() {
                        alert("로그인 비티엔~");
                    });*/


                });


            </script>

        </header>



    </div>

</layout:html>