<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head:: head"/>
<body>
<div class="app" id="app" v-cloak>

    <th:block th:replace="fragments/header:: headerFragment"/>

    <div class="content-body">
        <div class="content-title">
            <i class="icon-title-application"></i>
            <h1>신청서 관리</h1>
        </div>

        <div class="application-menu-list">
            <div class="menu" @click="toDetailPage($event, 'visa')">
                <div class="icon-visa"></div>
                <span>비자연장</span>
            </div>
            <div class="menu" @click="toDetailPage($event, 'scholarship')">
                <div class="icon-scholarship"></div>
                <span>장학금</span>
            </div>
            <div class="menu" @click="toDetailPage($event, 'dormitory')">
                <div class="icon-domitory"></div>
                <span>기숙사</span>
            </div>
            <div class="menu" @click="toDetailPage($event, 'outside')">
                <div class="icon-activity"></div>
                <span>체류외활동</span>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    Vue.createApp({
        //el: '#app',
        data() {
            return {

            }
        },
        methods: {
            toDetailPage(e, type) {

                location.href = "/app/applicationDetailList/" + type;

            }
        },
        created() {

        },
        mounted() {

        }
    }).mount('#app');

</script>


</body>
</html>
