<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
</head>
<body>
<div class="app">
    <header class="header">
        <div class="header-wrap">
            <div class="logo">
                <i class="icon-logo"></i>
            </div>
            <div class="btns">
                <div class="btn-mypage">
                    <i class="icon-mypage"></i>
                </div>
                <button class="btn-login">로그인</button>
            </div>
        </div>
    </header>
    <div class="content-body">
        <div class="content-title">
            <i class="icon-title-camp"></i>
            <h1>캠퍼스 안내</h1>
        </div>

        <div class="content-camp">
            <div class="img-scroll-box">
                <div class="img-full">
                    <img src="/css/images/campus_full.jpg" alt="캠퍼스 전체 모습">
                </div>
            </div>

            <div class="camp-detail-item">
                <div class="title">산학협력관(25호관)</div>
                <div class="sumnamil-btn-wrap">
                    <div class="sum-btn active">
                        <img src="/css/images/campus_25.png" alt="산학협력관 1">
                    </div>
                    <div class="sum-btn">
                        <img src="/css/images/campus_25.png" alt="산학협력관 2">
                    </div>
                    <div class="sum-btn">
                        <img src="/css/images/campus_25.png" alt="산학협력관 3">
                    </div>
                    <div class="sum-btn">
                        <img src="/css/images/campus_25.png" alt="산학협력관 4">
                    </div>
                </div>
                <div class="selected-img">
                    <img src="/css/images/campus_25.png" alt="산학협력관 5">
                </div>
                <div class="explain-container">
                    <div class="sub-title"><span>건물소개</span></div>
                    <div class="sub-text">
                        산학 협력 및 창업 보육의 활성화로 대전대학교의 미래 발전 동력을
                        구축하고자 지어진 건물이다. 견고하고 심플한 조형미로서 강인한
                        의지를 엿볼 수 있는 건물이다.
                    </div>
                    <div class="created-wrap">
                        <div class="item">
                            <div class="tag">설계</div>
                            <span>기오헌, 민현식</span>
                        </div>
                        <div class="item">
                            <div class="tag">시공</div>
                            <span>계룡건설사업</span>
                        </div>
                        <div class="item">
                            <div class="tag">준공</div>
                            <span>2014</span>
                        </div>
                    </div>
                    <div class="composition">
                        <div class="item">산학협력단</div>
                        <div class="item">LIMC+사업단</div>
                        <div class="item">경영컨설팅연구소</div>
                        <div class="item">창업보육센터</div>
                        <div class="item">어린이급식지원센터</div>
                        <div class="item">도시재생건축공간전략연구소</div>
                        <div class="item">지역혁신센터</div>
                    </div>
                </div>
            </div>

            <div class="camp-detail-item">
                <div class="title">융합과학관(24호관)</div>
                <div class="sumnamil-btn-wrap">
                    <div class="sum-btn active">
                        <img src="/css/images/campus_24.png" alt="융합과학관 1">
                    </div>
                    <div class="sum-btn">
                        <img src="/css/images/campus_24.png" alt="융합과학관 2">
                    </div>
                    <div class="sum-btn">
                        <img src="/css/images/campus_24.png" alt="융합과학관 3">
                    </div>
                    <div class="sum-btn">
                        <img src="/css/images/campus_24.png" alt="융합과학관 4">
                    </div>
                </div>
                <div class="selected-img">
                    <img src="/css/images/campus_24.png" alt="융합과학관 5">
                </div>
                <div class="explain-container">
                    <div class="sub-title"><span>건물소개</span></div>
                    <div class="sub-text">
                        융합-창의 교육 특성화 추진 의지와 비전을 상징하는 건물이다. 우리
                        대학 건축물 가운데 유일하게 여성 건축가가 설계한 건축물로서
                        부드럽고 푸근하고 단정한 기품을 담고 있는 것이 특색이다.
                    </div>
                    <div class="created-wrap">
                        <div class="item">
                            <div class="tag">설계</div>
                            <span>현동원, 이민아</span>
                        </div>
                        <div class="item">
                            <div class="tag">시공</div>
                            <span>계룡건설사업</span>
                        </div>
                        <div class="item">
                            <div class="tag">준공</div>
                            <span>2014</span>
                        </div>
                    </div>
                    <div class="composition">
                        <div class="item">경영학과</div>
                        <div class="item">정보보안학과</div>
                        <div class="item">컴퓨터공학과</div>
                        <div class="item">컴퓨터실</div>
                        <div class="item">
                            글로벌융학창의학부 (글로벌문화콘텐츠학전공)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
