<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head:: head"/>

<body>
<div class="app" id="app" v-cloak>

  <th:block th:replace="fragments/header:: headerFragment"/>

  <div class="content-body">
    <div class="content-title">
      <i class="icon-title-video"></i>
      <h1>상담프로그램</h1>
      <!--<div>가나다라마바사 {{videoInfo}}</div>-->
    </div>

    <div class="video-explain">
      <div class="title">{{counselingInfo.counselingTitle}}</div>
      <div class="sub-text">
          {{counselingInfo.counselingContent}}
      </div>

      <div>시작기간 {{counselingInfo.counselingStrDay}} ~ 종료기간 {{counselingInfo.counselingEndDay}}</div>

      <template v-if="counselingInfo.overCounseling">
          <div><b>마감</b></div>
      </template>



      <!-- 신청이 되어있으면 -->
      <template v-if="counselingInfo.isApplicantCounseling != 0">
          <div>신청이 완료되었습니다.</div>
          <div @click="cancelApplicant" style="cursor: pointer"><b>신청취소</b></div>
      </template>
      <template v-else>
          <div @click="doApplicant" style="cursor: pointer"><b>신청하기</b></div>
      </template>

    </div>



  </div>

</div>

<script th:inline="javascript">

  let globalPlayer = "";

  Vue.createApp({
    //el: '#app',
    data() {
      return {
        counselingInfo: [[${counselingInfo}]],
        isApplicantCounseling: [[${counselingInfo.isApplicantCounseling}]],
        isOverCounseling: [[${counselingInfo.isOverCounseling}]]

      }
    },
    methods: {
        doApplicant() {

            if(this.isOverCounseling == true) {
                alert("이미 마감되어 신청할 수 없습니다.");
                return;
            }

            if(!confirm("신청 하시겠습니까??")) {
                return;
            }

            axios.post('/appRest/doCounseling', null, {
                params:{
                    counselingIdx: this.counselingInfo.counselingIdx,
                }
            }).then(res => {
                if(res.data.result === "success") {
                    alert("신청되었습니다.");
                    location.href = "/app/counselingList";
                }
            });

        },
        cancelApplicant() {

            //alert("어플리캔트 카운셀링 " + this.isApplicantCounseling);
            //alert("이즈 오버 카운셀링 " + this.isOverCounseling);

            if(this.isOverCounseling == true) {
                alert("이미 마감되어 신청을 취소할 수 없습니다.");
                return;
            }

            if(!confirm("신청을 취소하시겠습니까??")) {
                return;
            }

            //alert("신청 취소를 진행하세요 " + this.counselingInfo.counselingIdx);

            axios.post('/appRest/cancelCounseling', null, {
                params:{
                    counselingIdx: this.counselingInfo.counselingIdx,
                }
            }).then(res => {
                if(res.data.result === "success") {
                    alert("신청이 취소되었습니다.");
                    location.href = "/app/counselingList";
                }
            });

            /*if(this.isApplicantCounseling) {
                alert("확인확인요~~ " + this.isApplicantCounseling);
            } else {
                alert("신청된적 없습니다. " + this.isApplicantCounseling);
            }*/

        }

    },
    created() {
      //console.log("비디오 인포 " + this.videoInfo);
    },
    mounted() {

        console.log("카운셀링 인포 " + JSON.stringify(this.counselingInfo));

    }
  }).mount('#app');

</script>

</body>
</html>
