<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head:: head"/>

<body>
<div class="app" id="app" v-cloak>

    <th:block th:replace="fragments/header:: headerFragment"/>

    <div class="content-body">
        <div class="content-title">
            <i class="icon-title-supply"></i>
            <h1>상담 프로그램</h1>
        </div>

        <div class="list-selects-wrap">
            <div class="select-wrap">
                <label>
                    <select name="byYear" id="byYear" @change="changeEvent($event, 'standardYear')">
                        <option v-for="year in years" :key="year" :value="year" :selected="year == standardYear">{{ year }}</option>
                    </select>
                </label>
            </div>

            <div class="select-wrap">
                <label>
                    <select name="semester" id="semester" @change="changeEvent($event, 'standardSemester')">
                        <option v-for="semester in 4" :key="semester" :value="semester" :selected="semester == standardSemester">{{semester}} 학기</option>
                    </select>
                </label>
            </div>
        </div>

        <div class="content-list">
            <ul>

                <template v-if="counselingList != null && counselingList.length != 0">

                    <template v-for="data, index in counselingList" :key="index">
                        <li @click="toDetailCounseling(data)">
                            <span>{{data.counselingTitle}}</span>

                            <template v-if="data.isOverCounseling">
                                <span class="tag">마감</span>
                            </template>

                            <template v-if="data.isApplicantCounseling != 0">
                                <span class="tag green">신청</span>
                            </template>
                            <template v-else>
                                <span class="tag red">미신청</span>
                            </template>

                        </li>
                    </template>

                </template>


                <!--<li>
                    <span>경기 유치원 봉사활동 인원 참여 안내</span>
                    <span class="tag green">신청완료</span>
                </li>
                <li>
                    <span>한국 취업패키지 교육 훈련</span>
                    <span class="tag">마감</span>
                </li>-->

            </ul>
        </div>
    </div>
</div>

<script th:inline="javascript">

    Vue.createApp({
        //el: '#app',
        data() {
            return {
                counselingList: JSON.parse([[${counselingListJson}]]),
                years: this.generateYearRange(2023, 2025),

                standardYear: [[${standardYearSemester.standardYear}]],
                standardSemester: [[${standardYearSemester.standardSemester}]],

                //standardYear: [[${standardYearSemester.standardYear}]],
                //standardSemester: [[${standardYearSemester.standardSemester}]],

                //years: this.generateYearRange(2023, 2025),
                //nowYear: [[${nowYear}]]
            }
        },
        methods: {

            changeEvent(e, type) {

                if(type === 'standardYear') {
                    this.standardYear = e.target.value;
                    this.getCounselingList();
                } else if(type === 'standardSemester') {
                    this.standardSemester = e.target.value;
                    this.getCounselingList();
                }

            },
            getCounselingList() {

                const _ = axios.post('/appRest/getCounselingList', null, {
                    params:{
                        standardYear: this.standardYear,
                        standardSemester: this.standardSemester
                    }
                }).then(res => {

                    if(res.data.result === "success") {
                        this.counselingList = JSON.parse(res.data.data);
                    }

                });

            },

            generateYearRange(start, end) {
                const years = [];
                for (let year = start; year <= end; year++) {
                    years.push(year);
                }
                return years;
            },
            toDetailCounseling(data) {

                location.href = "/app/counselingDetail/" + data.counselingIdx;

            }


        },
        computed: {

        },
        created() {

            this.getCounselingList();

            /*alert("크리에이트123");
            console.log("콘솔로그123");
            console.log("비디오 리스트 " + this.videoList);
            alert("크리에이트 abcdefg " + this.abc);*/
        },
        mounted() {
            //alert("나우데이트 " + this.nowDate);
        }
    }).mount('#app');

</script>

</body>
</html>
