<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head:: head"/>

<body>
<div class="app" v-cloak>

    <th:block th:replace="fragments/header:: headerFragment"/>

    <div class="content-body">
        <div class="content-title">
            <i class="icon-title-emergency-support"></i>
            <h1>긴급상황지원</h1>
        </div>

        <div class="content-list add-icon">
            <div class="ul">
                <div class="li">
                    <span>대전대학교</span>
                    <div class="icon-wrap">
                        <i class="icon-location"></i>
                        <i class="icon-call"></i>
                    </div>
                </div>
                <div class="li">
                    <span>112 경찰청</span>
                    <div class="icon-wrap">
                        <i class="icon-location"></i>
                        <i class="icon-call"></i>
                    </div>
                </div>
                <div class="li">
                    <span>119 소방안전센터</span>
                    <div class="icon-wrap">
                        <i class="icon-location"></i>
                        <i class="icon-call"></i>
                    </div>
                </div>
                <div class="li">
                    <span>해외문화원 통역서비스</span>
                    <div class="icon-wrap">
                        <i class="icon-call"></i>
                    </div>
                </div>
                <div class="li">
                    <span>법무부 외국인 종합안내센터</span>
                    <div class="icon-wrap">
                        <i class="icon-call"></i>
                    </div>
                </div>
                <div class="li">
                    <span>출입국관리사무소</span>
                    <div class="icon-wrap">
                        <i class="icon-call"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
