<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head:: head"/>

<body>
<div class="app" id="app">

    <th:block th:replace="fragments/header:: headerFragment"/>

    <div class="content-body">
        <div class="content-title">
            <i class="icon-title-supply"></i>
            <h1>학급평가 리스트</h1>
        </div>

        <div class="list-selects-wrap">
            <div class="select-wrap">
                <label>
                    <select name="byYear" id="byYear" @change="changeEvent($event, 'standardYear')">
                        <option v-for="year in years" :key="year" :value="year" :selected="year == standardYear">{{ year }}</option>
                    </select>
                </label>
            </div>

            <div class="select-wrap">
                <label>
                    <select name="semester" id="semester" @change="changeEvent($event, 'standardSemester')">
                        <option v-for="semester in 4" :key="semester" :value="semester" :selected="semester == standardSemester">{{semester}} 학기</option>
                    </select>
                </label>
            </div>
        </div>


        <div class="content-list">
            <ul>

                <template v-if="evaluateClassList != null && evaluateClassList.length != 0">

                    <template v-for="data, index in evaluateClassList" :key="index">
                        <li @click="toDetailEvaluateClass($event, data)">
                            <span>{{data.classTitle}} </span>

                            <!--<template v-if="data.isOverCounseling">
                                <span class="tag">마감</span>
                            </template>-->
                            <template v-if="data.isEvaluatedClass != 0">
                                <span class="tag grey">평가완료</span>
                            </template>
                            <template v-else>
                                <span class="tag green">평가하기</span>
                            </template>

                        </li>
                    </template>

                </template>


                <!--<li>
                    <span>경기 유치원 봉사활동 인원 참여 안내</span>
                    <span class="tag green">신청완료</span>
                </li>
                <li>
                    <span>한국 취업패키지 교육 훈련</span>
                    <span class="tag">마감</span>
                </li>-->

            </ul>
        </div>
    </div>
</div>

<script th:inline="javascript">

    Vue.createApp({
        //el: '#app',
        data() {
            return {
                evaluateClassList: [],

                years: this.generateYearRange(2023, 2025),

                standardYear: [[${standardYearSemester.standardYear}]],
                standardSemester: [[${standardYearSemester.standardSemester}]],

            }
        },
        methods: {

            changeEvent(e, type) {

                if(type === 'standardYear') {
                    this.standardYear = e.target.value;
                    this.getEvaluateList();
                } else if(type === 'standardSemester') {
                    this.standardSemester = e.target.value;
                    this.getEvaluateList();
                }

            },
            toDetailEvaluateClass(e, data) {

                if(data.isEvaluatedClass !== 0) {
                    alert("이미 평가를 완료하였습니다.");
                    return;
                }

                location.href = "/app/evaluateClassDetail/" + data.classIdx;

            },
            generateYearRange(start, end) {
                const years = [];
                for (let year = start; year <= end; year++) {
                    years.push(year);
                }
                return years;
            },
            getEvaluateList() {

                const _ = axios.post('/appRest/getEvaluateClassList', null, {
                    params:{
                        standardYear: this.standardYear,
                        standardSemester: this.standardSemester
                    }
                }).then(res => {

                    if(res.data.result === "success") {
                        this.evaluateClassList = JSON.parse(res.data.data);
                    }

                });

            },


        },
        created() {

            this.getEvaluateList();

        },
        mounted() {

        }
    }).mount('#app');

</script>

</body>
</html>
