<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대전대학교 어학원</title>

    <link rel="stylesheet" href="/css/main.css">
    <script src="/css/js/ui.js"></script>
</head>
<body>
<div class="app">
    <header class="header">
        <div class="header-wrap">
            <div class="logo">
                <i class="icon-logo"></i>
            </div>
            <div class="btns">
                <div class="btn-mypage">
                    <i class="icon-mypage"></i>
                </div>
                <button class="btn-login">로그인</button>
            </div>
        </div>
    </header>
    <div class="content-body no-btm-padding">
        <div class="content-title">
            <i class="icon-title-facilities"></i>
            <h1>편의시설</h1>
        </div>
    </div>

    <div class="facilities-map">
        <div class="btn-location" onclick="showPopup()">
            <i class="icon-location"></i>
        </div>
        <div class="map-wrap">
            <div class="map">
                <img src="/css/images/img_map.png" alt="맵 오는 자리" />
            </div>
        </div>
    </div>

    <div class="facilities-explain-pop-up" id="explainPopup">
        <div class="title-box">
            <div class="tit">
                <span>장소명</span>
                <button onclick="closePopup()"><i class="icon-close"></i></button>
            </div>
            <div class="tag">분류</div>
        </div>
        <div class="explain-box">
            <div class="address">
                <div class="icon-wrap">
                    <i class="icon-add-locaion"></i>
                </div>
                <span>해당 장소의 주소가 들어옵니다 </span>
            </div>
            <div class="location-explain">
                <div class="icon-wrap">
                    <i class="icon-lo-ex"></i>
                </div>
                <div class="text-box">
                    해당 장소에 대한 설명이 들어옵니다. 긴 줄 테스트 긴 줄 테스트 긴
                    줄 테스트 긴 줄 테스트긴 줄 테스트긴 줄 테스트긴 줄 테스트긴 줄
                    테스트긴 줄 테스트 긴 줄 테스트긴 줄 테스트긴 줄 테스트 긴 줄
                    테스트긴 줄 테스트 ㅍ긴 줄 테스트긴 줄 테스트긴 줄 테스트긴 줄
                    테스트긴 줄 테스트긴 줄 테스트긴 줄 테스트긴 줄 테스트긴 줄
                    테스트긴 줄 테스트긴 줄 테스트긴 줄 테스트긴긴 줄 테스트긴 줄
                    테스트긴 줄 테스트긴 줄 테스트긴 줄 테스트 스트긴 줄 테스트긴 줄
                    테스트긴긴 줄 테스트긴 줄 테스트긴 줄 테스트긴 줄 테스트긴 줄
                    테스트
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
