<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head:: head"/>

<body>
<div class="app" id="app" v-cloak>

    <th:block th:replace="fragments/header:: headerFragment"/>

    <div class="content-body">
        <div class="content-title">
            <i class="icon-title-mydata"></i>
            <h1>개인자료실</h1>
        </div>

        <div class="sumnail-wrap">

            <div class="sum-item" @click="toDetailPage($event, 'changePassport')">
                <div class="sumnail-img">
                    <div class="img-wrap">
                        <!--<img src="/css/images/passport-photo.png" alt="여권사진">-->
                        <img src="/css/images/no-picture.png" alt="자료가 등록되지 않았습니다."/>
                    </div>
                </div>
                <div class="sub-title">여권사진</div>
                <!--<div class="date">2023.05.30</div>-->
            </div>

            <div class="sum-item" @click="toChangePassword">
                <div class="sumnail-img">
                    <div class="img-wrap">
                        <img src="/css/images/no-picture.png" alt="자료가 등록되지 않았습니다."/>
                    </div>
                </div>
                <div class="sub-title">비밀번호 변경</div>
                <!--<div class="date">등록하기</div>-->
            </div>

            <div class="sum-item" @click="toDetailPage($event, 'changeProfile')">
                <div class="sumnail-img">
                    <div class="img-wrap">
                        <img src="/css/images/no-picture.png" alt="자료가 등록되지 않았습니다."/>
                    </div>
                </div>
                <div class="sub-title">내프로필</div>
                <!--<div class="date">등록하기</div>-->
            </div>

            <div class="sum-item" @click="toDetailPage($event, 'changeForeigner')">
                <div class="sumnail-img">
                    <div class="img-wrap">
                        <img src="/css/images/no-picture.png" alt="자료가 등록되지 않았습니다."/>
                    </div>
                </div>
                <div class="sub-title">외국인등록증</div>
                <!--<div class="date">등록하기</div>-->
            </div>

            <!--<div class="sum-item">
                <div class="sumnail-img">
                    <div class="img-wrap">
                        <img
                                src="/css/images/no-picture.png"
                                alt="자료가 등록되지 않았습니다."
                        />
                    </div>
                </div>
                <div class="sub-title">비자사본</div>
                <div class="date">등록하기</div>
            </div>
            <div class="sum-item">
                <div class="sumnail-img">
                    <div class="img-wrap">
                        <img
                                src="/css/images/no-picture.png"
                                alt="자료가 등록되지 않았습니다."
                        />
                    </div>
                </div>
                <div class="sub-title">재학증명서</div>
                <div class="date">등록하기</div>
            </div>-->
        </div>
    </div>
</div>

<script th:inline="javascript">

    Vue.createApp({
        //el: '#app',
        data() {
            return {

            }
        },
        methods: {

            toDetailPage(e, url) {
                //window.open("https://portal.dju.ac.kr/", "_blank");
                location.href = "/app/" + url;
            },
            toChangePassword() {
                window.open("https://portal.dju.ac.kr/", "_blank");
            }

        },
        created() {

        },
        mounted() {

        }
    }).mount('#app');

</script>

</body>
</html>
