<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head:: head"/>

<body>
<div class="app" id="app" v-cloak>

    <th:block th:replace="fragments/header:: headerFragment"/>

    <div class="content-body">
        <div class="content-title">
            <i class="icon-title-video"></i>
            <template v-if="type == 'create'">
                <h1>{{applicationTextType}} 신청서 제출</h1>
            </template>
            <template v-else-if="type == 'modify'">
                <h1>{{applicationTextType}} 신청서 수정</h1>
            </template>

            <!--<div>가나다라마바사 {{videoInfo}}</div>-->
        </div>


        <div class="video-explain">
            <div class="title"><!--{{noticeInfo.noticeTitle}}--></div>
            <div class="sub-text">

                <div>{{applicationTextType}}신청서 작성</div>

                <input type="text" style="height:30px; width:500px; border: 1px solid gray" ref="title" :value="title" @input="inputEvent($event, 'title')"/>

                <br>
                <br>

                <textarea style="height:300px; width:500px" ref="content" :value="content" @input="inputEvent($event, 'content')"></textarea>

                <br><br>

                <template v-if="type == 'create'">
                    <button @click="doSubmit">제출</button>
                </template>
                <template v-else-if="type == 'modify'">
                    <button @click="doModify">수정</button>
                </template>

            </div>
        </div>
    </div>

</div>

<script th:inline="javascript">

    let globalPlayer = "";

    Vue.createApp({
        //el: '#app',
        data() {
            return {

                type: [[${type}]],
                applicationType: [[${applicationType}]],
                applicationTextType: "",
                applicationInfo: [[${applicationInfo}]],

                nowApplicationIdx: [[${applicationIdx}]],

                title:"",
                content:"",


            }
        },
        methods: {

            inputEvent(e, type) {

                if(type === 'title') {
                    this.title = e.target.value;
                } else if(type === 'content') {
                    this.content = e.target.value;
                }

            },
            doSubmit() {
                //alert("두 서브밋");

                if(!this.title) {
                    alert("신청할 제목을 작성해주세요.");
                    this.$refs.title.focus();
                    return;
                }

                if(!this.content) {
                    alert("신청할 내용을 작성해주세요.");
                    this.$refs.content.focus();
                    return;
                }

                if(!confirm(this.applicationTextType + " 신청서를 제출 하시겠습니까?")) {
                    return;
                }

                const _ = axios.post('/appRest/submitApplication', null, {
                    params:{

                        applicationType: this.applicationType,
                        applicationTitle: this.title,
                        applicationContent: this.content,

                    }
                }).then(res => {

                        if(res.data.result === "success") {
                            alert(this.applicationTextType + " 신청서를 제출하였습니다.");
                            location.href = "/app/applicationDetailList/" + this.applicationType;
                        }

                });


            },
            doModify() {

                if(!this.title) {
                    alert("신청할 제목을 작성해주세요.");
                    this.$refs.title.focus();
                    return;
                }

                if(!this.content) {
                    alert("신청할 내용을 작성해주세요.");
                    this.$refs.content.focus();
                    return;
                }

                if(!confirm(this.applicationTextType + " 신청서를 수정 하시겠습니까?")) {
                    return;
                }


                const _ = axios.post('/appRest/modifyApplication', null, {
                    params:{

                        applicationIdx: this.nowApplicationIdx,
                        applicationType: this.applicationType,
                        applicationTitle: this.title,
                        applicationContent: this.content,

                    }
                }).then(res => {

                    if(res.data.result === "success") {
                        alert(this.applicationTextType + " 신청서를 수정하였습니다.");
                        location.href = "/app/applicationDetailList/" + this.applicationType;
                    }

                });


                /*const _ = axios.post('/appRest/submitApplication', null, {
                    params:{

                        applicationType: this.applicationType,
                        applicationTitle: this.title,
                        applicationContent: this.content,

                    }
                }).then(res => {

                    if(res.data.result === "success") {
                        alert(this.applicationTextType + " 신청서를 제출하였습니다.");
                        location.href = "/app/applicationList/" + this.applicationType;
                    }

                });*/

            }

        },
        created() {

            if(this.applicationType === 'visa') {
                this.applicationTextType = "비자연장";
            } else if(this.applicationType === 'scholarship') {
                this.applicationTextType = "장학급";
            } else if(this.applicationType === 'dormitory') {
                this.applicationTextType = "기숙사";
            } else if(this.applicationType === 'outside') {
                this.applicationTextType = "체류외활동";
            }

            const _ = axios.post('/appRest/getApplicationDetailList', null, {
                params:{
                    applicationType: this.applicationType
                }
            }).then(res => {
                if(res.data.result === "success") {
                    this.applicationDetailList = JSON.parse(res.data.data);
                }
            });



            if(this.applicationInfo) {

                const applicationInfo = this.applicationInfo;
                this.title = applicationInfo.applicationTitle;
                this.content = applicationInfo.applicationContent;
            }

        },
        mounted() {

        }
    }).mount('#app');

</script>

</body>
</html>
