<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="fragments/head:: head"/>

    <script src="https://player.vimeo.com/api/player.js"></script>

<body>
<div class="app" id="app">

    <th:block th:replace="fragments/header:: headerFragment"/>

    <div class="content-body">
        <div class="content-title">
            <i class="icon-title-video"></i>
            <h1>교육동영상</h1>
            <!--<div>가나다라마바사 {{videoInfo}}</div>-->
        </div>

        <div class="video-play">
            <div class="iframe-wrap">
                <iframe id="video" :src="videoInfo.videoLink" title="vimeo-player" allowfullscreen></iframe>
            </div>
        </div>

        <div class="video-explain">
            <div class="title">{{videoInfo.videoName}}</div>
            <div class="sub-text">
                {{videoInfo.videoInfo}}
            </div>
        </div>

        <div>시청시간</div>
        <div>{{watchedPercentage}}%</div>

    </div>
</div>

    <script th:inline="javascript">

        let globalPlayer = "";

        Vue.createApp({
            //el: '#app',
            data() {
                return {

                    player:"",
                    canPlay: false,
                    timerId:"",
                    time: 0,
                    lastSeconds: 0.0,

                    watchedPercentage: 0,

                    videoInfo: [[${videoInfo}]]
                }
            },
            methods: {

                startClock() {
                    if(this.canPlay) {
                        this.time++;
                        this.stopClock();
                        this.timerId = setTimeout(this.startClock, 1000);

                        console.log("확인 " + this.time);

                    } else {
                        stopClock();
                        alert("구성을 준비중입니다.\n다시 플레이버튼을 누르세요.");
                    }

                },
                stopClock() {
                    if (this.timerId != null) {
                        clearTimeout(this.timerId);
                    }
                },


                sendViewingTime() {

                    if(this.time < 5) {
                        return;
                    }

                    //console.log("로그 확인 ");

                    axios.post('/appRest/sendViewingTime', null, {
                        params:{
                            videoIdx: this.videoInfo.videoIdx,
                            viewingTime: this.time,
                            lastSeconds: this.lastSeconds
                        }
                    }).then(res => {

                        if(res.data.result === "success") {
                            this.time = 0;

                            this.getReloadPercentage();
                        }

                    });

                },
                getPlayerInfo() {

                    axios.post('/appRest/getPlayerInfo', null, {
                        params:{
                            videoIdx: this.videoInfo.videoIdx,
                        }
                    }).then(res => {

                        const result = res.data.result;

                        if(result === "success") {
                            const playerInfo = JSON.parse(res.data.playerInfoJson);

                            this.watchedPercentage = playerInfo.watchedPercentage;

                            this.canPlay = true;
                            globalPlayer.setCurrentTime(playerInfo.lastSeconds);
                        } else if(result === "empty") {
                            this.canPlay = true;
                        }

                        //alert("리저트~~" + result);

                    });

                },
                getReloadPercentage() {

                    axios.post('/appRest/getPlayerInfo', null, {
                        params:{
                            videoIdx: this.videoInfo.videoIdx,
                        }
                    }).then(res => {

                        const result = res.data.result;

                    if(result === "success") {
                        const playerInfo = JSON.parse(res.data.playerInfoJson);
                        this.watchedPercentage = playerInfo.watchedPercentage;
                    }

                    //alert("리저트~~" + result);

                });

                }

            },
            created() {

                //console.log("비디오 인포 " + this.videoInfo);

            },
            mounted() {

                this.canPlay = true;

                const globalThis = this;

                const video = document.getElementById('video');
                const player = new Vimeo.Player(video);

                globalPlayer = player;

                this.getPlayerInfo();

                //const player = this.player

                player.on('play', function() {
                    globalThis.startClock();
                });

                player.on('pause', function() {

                    globalThis.stopClock();

                    player.getCurrentTime().then(function(seconds) {
                        globalThis.lastSeconds = seconds;
                        return new Promise((resolve, reject)=>{
                            globalThis.sendViewingTime()
                        })
                    });

                });

            }
        }).mount('#app');

    </script>

</body>
</html>
