<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="fragments/head:: head"/>

<body>
<div class="app" id="app">
    <header class="header">
        <div class="header-wrap">
            <div class="logo">
                <i class="icon-logo"></i>
            </div>
            <div class="btns">
                <div class="btn-mypage">
                    <i class="icon-mypage"></i>
                </div>
                <button class="btn-login">로그인</button>
            </div>
        </div>
    </header>
    <div class="content-body">
        <div class="content-title">
            <i class="icon-title-video"></i>
            <h1>교육동영상</h1>
            <!--<div>가나다라마바사 {{videoInfo}}</div>-->
        </div>

        <div class="video-play">
            <div class="iframe-wrap">
                <iframe
                        :src="videoInfo.videoLink"
                        title="YouTube video player"
                        style="border: 0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                ></iframe>
            </div>
        </div>

        <div class="video-explain">
            <div class="title">{{videoInfo.videoName}}</div>
            <div class="sub-text">
                {{videoInfo.videoInfo}}
            </div>
        </div>
    </div>
</div>

    <script th:inline="javascript">

        Vue.createApp({
            //el: '#app',
            data() {
                return {
                    videoInfo: [[${videoInfo}]]
                }
            },
            methods: {

            },
            created() {

                console.log("비디오 인포 " + this.videoInfo);

            },
            mounted() {
            //alert("마운티드");
            }
        }).mount('#app');

    </script>

</body>
</html>
